@using HomeWork_5_1_2019.Data;
@model IEnumerable<Question>

<!-- Page Content -->
<div class="container">

	<div class="row">

		<!-- Blog Entries Column -->
		<div class="col-md-8">

			<h1 class="page-header">
				Page Heading
				<small>Secondary Text</small>
			</h1>

			@foreach (Question c in Model)
			{<!-- First Blog Post -->
				<h2>
					<a href="~/home/Question?id=@c.Id">@c.Title</a>
				</h2>
				<p> @c.Text<span><a href="~/home/Question?id=@c.Id">...</a></span></p>
				<hr>
			}
			
		</div>
	</div>
</div>
